#venv/
#data/
data/AudioMp3/
data/transcripts/CleanedTranscripts
data/transcripts/RawTranscripts
data/Duplicates/DuplicateRawTranscripts
data/Duplicates/DuplicateCleanedTranscripts
data/Duplicates/DuplicateAudio
env/
.vscode/
Experimental/
scripts/topicmodeling/BERTopic/bertopic_model
